<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к БД -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5434/register-office</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <!-- Диалект для PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

        <!-- Опциональные настройки -->
        <property name="hibernate.show_sql">true</property>  <!-- Показывать SQL в логах -->
        <property name="hibernate.format_sql">true</property> <!-- Форматировать SQL -->
<!--        <property name="hibernate.hbm2ddl.auto">update</property> &lt;!&ndash; Автообновление схемы &ndash;&gt;-->

        <!-- Указание классов-сущностей (можно также указывать в аннотациях) -->
        <mapping class="edu.javacourse.register.domain.Person"/>
<!--        <mapping class="com.example.entities.Product"/>-->
    </session-factory>
</hibernate-configuration>